body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#groups-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 800px;
    height: auto; /* Dynamic height to fit content */
    background-color: rgb(22 19 19);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.groups-border::before {
    background: linear-gradient(to bottom, #212428, #3d78c742);
    content: '';
    filter: blur(62px);
    position: absolute;
    inset: -4%;
    z-index: -1;
}

.npc-header {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(181, 181, 181);
    margin-bottom: 20px;
}

#close-btn {
    font-size: 18px;
    color: rgb(245, 105, 105);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #e6e6e6;
}

input, select {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    color: #e6e6e6;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #ff1fb0;
    outline: none;
}

button {
    background-color: #cc0069;
    color: #d1d1d1;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.3s ease;
    box-shadow: 0 0 8px rgba(204, 0, 105, 0.5);
}

button:hover {
    background-color: #ff1fb0;
    box-shadow: 0 0 15px rgba(204, 0, 105, 0.6);
}

button:active {
    background-color: #940060;
    box-shadow: 0 0 20px rgba(204, 0, 105, 0.7);
}

@media screen and (max-width: 600px) {
    #groups-container {
        width: 90%;
        height: auto;
    }

    button, input, select {
        font-size: 12px;
        padding: 10px;
    }
}
