body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#groups-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 800px;
    height: auto;
    background-color: rgb(22 19 19);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 1;
}

.groups-border::before {
    background: linear-gradient(to bottom, #212428, #3d78c742);
    content: '';
    filter: blur(62px);
    position: absolute;
    inset: -4%;
    z-index: -1;
}

.npc-header {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(181, 181, 181);
    margin-bottom: 20px;
}

#close-btn {
    font-size: 18px;
    color: rgb(245, 105, 105);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.feature-btn {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background-color: #cc0069;
    color: #d1d1d1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.feature-btn:hover {
    background-color: #ff1fb0;
}

.feature-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    z-index: 999;
}

.modal-content {
    background-color: rgb(22 19 19);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow-y: auto;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    z-index: 1000;
}

.close-modal {
    font-size: 20px;
    color: #ff4d4d;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-scroll-container {
    max-height: 60vh;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
}

.modal-options img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.modal-btn {
    background-color: #ff1fb0;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
}

.modal-btn:hover {
    background-color: #cc0069;
}

.feature-modal .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.6);
    z-index: 1001;
}

@media screen and (max-width: 600px) {
    #groups-container {
        width: 90%;
        height: auto;
    }

    button, input, select {
        font-size: 12px;
        padding: 10px;
    }
}
