body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#groups-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 73vh;
    background-color: rgb(22 19 19);
    /* overflow-x: hidden; */
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
    /* padding: 15px; */
    padding-top: 35px;
    border-radius: 10px;
}

.groups-border::before {
    background: linear-gradient(to bottom, #212428, #3d78c742);
    content: '';
    filter: blur(62px);
    position: absolute;
    inset: -4%;
    z-index: -1;
}

.npc-header {
    text-align: center;
    color: white;
    margin-top: 10px; /* Space below the thick top border */
}

#close-btn {
    font-size: 18px;
    color: rgb(245, 105, 105);
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 100;
}

button {
    background-color: #cc0069;
    color: #d1d1d1;
    border: none;
    border-radius: 3px;
    padding: 7.5px 15px;
    font-size: 12px;
    cursor: pointer;
    transition: bacground-color 0.5s;
}

button:hover{
    background-color: #ff1fb0;
}

button:active{
    background-color: #940060;
}